<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
    <session-factory> 
        
        <!-- connection information -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_rtr_hospital</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        
        <!-- jdbc connetion pool size -->
        <property name="connection.pool_size">1</property>
        
        <!-- database dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        
        <!-- update schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- names the annotated entity class -->
        <mapping class="models.Employee"/>
        <mapping class="models.Department"/>
        <mapping class="models.EmploymentStatus"/>
        <mapping class="models.ClockingSchedule"/>
         <mapping class="models.DailyAttendance"/>
        
    </session-factory>
</hibernate-configuration>